/* CSS - ADAM */
/* Setup default colours */
:root {
	--black: #210B03;
	--green-gray: #AFAFA7;
	--green-100: #F2F5C8;
	--green-200: #DBE192;
	--green-300: #A4AE4D;
	--green-400: #5D6716;
	--orange-100: #FFF8E9;
	--orange-200: #FFD697;
	--orange-300: #F2973E;
	--orange-400: #A45314;

	--pomodoro-back: var(--orange-200);
	--pomodoro-front: var(--orange-400);
	--shortBreak-back: var(--green-200);
	--shortBreak-front: var(--green-400);
	--longBreak-back: #CBD3F1;
	--longBreak-front: #344FAE;
}

* {
	font-family: "Montserrat", sans-serif;
}

body {
	margin: 0;
	background-color: var(--orange-100);
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	color: var(--green-400);
	font-weight: 700;
}

/* Mobile design */
@media (max-width: 900px) {
	.desktop-pre-side-view {
		display: none;
	}

	body .desktop-pre-form-view {
		display: block;
		flex-direction: unset;
		justify-content: unset;
		align-items: unset;
		height: auto;
	}

	body .desktop-pre-form-box {
		margin: unset;
		width: unset;
	}

	body .desktop-pre-app-bar {
		background-color: var(--green-200);
		margin-top: unset;
	}

	#desktop-dashboard-container {
		padding-left: 16px;
		padding-right: 16px;
	}

	body .desktop-navbar-appbar {
		position: static;
		margin-bottom: 24px;
	}

	body .desktop-navbar-container {
		display: block;
		margin: 0px;
	}

	body .desktop-hide-logo {
		visibility: visible !important;
	}

	body .desktop-navbar-arrow {
		visibility: visible !important;
	}

	body .desktop-undernav-content {
		flex-grow: unset;
		margin-top: unset;
		margin-left: 0;
		padding: 0;
		margin: 0;
	}

	body .desktop-undernav-toolbar {
		display: none;
	}

	body #homepage-upper-banner-container {
		justify-content: flex-start;
	}

	body #homepage-upper-banner {
		content: url("../public/MobileLandingBannerOrange.svg");
	}

	body #homepage-upper-text-container {
		margin-top: 30px;
	}

	body .homepage-text-containers {
		width: 95%;
	}

	body #homepage-function-container {
		overflow-x: scroll;
		max-width: 100%;
		padding-bottom: 10px;
	}

	body .homepage-function-icons {
		flex-basis: 50%;
		flex-shrink: 0;
	}

	body .homepage-function-icons:not(:first-child), body .homepage-computing-icons:not(:first-child) {
		margin-left: 16px;
	}

	body #homepage-function-scroll {
		display: flex;
	}

	body .homepage-computing-icons img {
		height: 75px !important;
	}

	body .homepage-computing-icons .MuiTypography-root {
		margin-top: 16px;
	}

	body #homepage-credits-container {
		flex-direction: column;
		width: 100%;
	}

	body .homepage-credits-cards:first-child {
		margin-bottom: 12px;
	}

	body .homepage-credits-cards, body .homepage-credits-cards:not(:first-child) {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}

	body .homepage-credits-cards .MuiAvatar-root {
		margin-left: 0;
		height: 100px;
		width: 100px;
	}

	body .homepage-credits-text-stack, body .homepage-credits-text-stack:not(:first-child) {
		margin: 0;
		margin-right: 16px;
	}

	body #homepage-lower-banner-container {
		justify-content: flex-start;
	}

	body #homepage-lower-banner {
		content: url("../public/MobileLandingBannerGreen.svg");
	}

	body #homepage-lower-text-container {
		margin-top: 36px;
		display: block;
	}
	
	body #homepage-lower-text-box {
		margin-left: unset;
	}

	body #desktop-settings-buttons {
		margin-left: 24px;
		margin-right: 24px;
	}
}

/* Title font */
@font-face {
	font-family: "DKSmilingCat";
	src: url("../public/fonts/DK-Smiling-Cat.otf");
}